/*Color Pallete*/
:root {
	--bg-primary: #000f;
	--bg-secondary: #555f;
	--fg-primary: #ffff;
	--fg-secondary: #bbbf;
	--he-primary: #ff4f;
	--he-secondary: #1fdf;
	--sp-red: #f06f;
	--sp-green: #0f6f;
	--sp-blue: #0acf;
    --sp-cyan: #0eff;
    --sp-magenta: #b9ff;
}

/*Color Definitions*/
[color=bgp] {background-color: var(--bg-primary)}
[color=bgs] {background-color: var(--bg-secondary)}
[color=fgp] {color: var(--fg-primary)}
[color=fgs] {color: var(--fg-secondary)}
[color=hep] {color: var(--he-primary)}
[color=hes] {color: var(--he-primary)}
[color=spr] {color: var(--sp-red)}
[color=spg] {color: var(--sp-green)}
[color=spb] {color: var(--sp-blue)}
[color=spc] {color: var(--sp-cyan)}
[color=spm] {color: var(--sp-magenta)}

* {
	font-family: 'InconsolataRegular';
	font-weight: normal;
	font-style: normal; 
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--bg-primary);
	color: var(--fg-primary);
}

div.container {
	padding-left: 24px;
	padding-right: 24px;
}

h1 {
	color: var(--he-primary);
	font-weight: bolder;
}

h2, h3, h4, h5, h6 {
	color: var(--he-secondary);
	font-weight: bold;
}

p {
	margin-left: 8px;
	margin-right: 8px;
	text-indent: 32px;
    font-size:16px;
    border: solid 1px var(--fg-primary);
    padding: 12px;
}

a {
    color: var(--sp-cyan);
}

a:visited {
	color: inherit;
}

div#top-bar {
	display: flex;
	background-color: var(--bg-secondary);
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;

	position: fixed;
	width: 100%;
	top: 0;
}

div#top-bar div {
	display: inline-block;
	margin: 12px;

	align-items: center;
}

div#top-bar div a {
	font-size: large;
	font-weight: bold;
	text-decoration: none;

	color: inherit;
}

div#top-bar + div {
	padding-top: 24px;
}

.box {
    width: 100%;
    aspect-ratio: 16/9;
    background-image: url("../assets/enigma.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box h1 {
    top: 8px;
    left: 16px;
}

img {
    width: 100%;
    height: 100%;
}
