/*Color Pallete*/
:root {
	--bg-primary: #000f;
	--bg-secondary: #555f;
	--fg-primary: #ffff;
	--fg-secondary: #bbbf;
	--he-primary: #ff4f;
	--he-secondary: #1fdf;
	--sp-red: #f06f;
	--sp-green: #0f6f;
	--sp-blue: #0acf;
	--sp-cyan: #0eff;
	--sp-magenta: #b9ff;
}

/*Color Definitions*/
[color=bgp] {
	background-color: var(--bg-primary)
}

[color=bgs] {
	background-color: var(--bg-secondary)
}

[color=fgp] {
	color: var(--fg-primary)
}

[color=fgs] {
	color: var(--fg-secondary)
}

[color=hep] {
	color: var(--he-primary)
}

[color=hes] {
	color: var(--he-primary)
}

[color=spr] {
	color: var(--sp-red)
}

[color=spg] {
	color: var(--sp-green)
}

[color=spb] {
	color: var(--sp-blue)
}

[color=spc] {
	color: var(--sp-cyan)
}

[color=spm] {
	color: var(--sp-magenta)
}

* {
	font-family: monospace;
	font-weight: normal;
	font-style: normal;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--bg-primary);
	color: var(--fg-primary);
	z-index: -256;
}

body {
	background-image: url("../assets/enigma.png");
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	background-size: 100%;
}

div.container {
	padding-left: 24px;
	padding-right: 24px;
}

h1 {
	color: var(--he-primary);
	font-weight: bolder;
}

h2,
h3,
h4,
h5,
h6 {
	color: var(--he-secondary);
	font-weight: bold;
}

p {
	margin-left: 8px;
	margin-right: 8px;
	font-size: 16px;
	border: solid 1px var(--fg-primary);
	padding: 12px;
}

a {
	color: var(--sp-cyan);
}

a:visited {
	color: var(--sp-cyan);
}

div#top-bar {
	display: flex;
	background-color: var(--bg-secondary);
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;

	position: fixed;
	width: 100%;
	top: 0;
	z-index: 256;
}

div#top-bar div {
	display: inline-block;
	margin: 12px;

	align-items: center;
}

div#top-bar div a {
	font-size: large;
	font-weight: bold;
	text-decoration: none;

	color: inherit;
}

.window {
	width: 100%;
	aspect-ratio: 3/1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wall {
	width: 100%;
	background: var(--bg-primary);
}

.window h1 {
	color: var(--fg-primary);
	position: relative;
	width: 100%;
	bottom: 0;
	margin: 0;
	padding-left: 2%;
	font-size: 8vw;
	font-weight: normal;
}

div.center {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 64%;
	height: min-content;
	text-align: center;

	padding: 5%;
}

div.center h1 {
	font-size: 64px;
	height: fit-content;
}

div.center p {
	text-indent: 0;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
