/*Color Pallete*/
:root {
    --black: #000000ff;
    --charcoal: #353d45ff;
    --red-salsa: #fb3640ff;
    --medium-blue: #0000ccff;
    --sunglow: #ffcc00ff;
    --electric-green: #00ff00ff;
}

/*Set colors*/
[color=black] {color: var(--black)}
[color=charcoal] {color: var(--charcoal)}
[color=red-salsa] {color: var(--red-salsa)}
[color=medium-blue] {color: var(--medium-blue)}
[color=sunglow] {color: var(--sunglow)}
[color=electric-green] {color: var(--electric-green)}

* {
    font-family: 'InconsolataRegular';
    font-weight: normal;
    font-style: normal; 
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--black);
}

h1 {
    color: var(--electric-green);
    font-weight: bolder;
}

h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
    text-indent: 64px;
}

div.top-bar {
    display: flex;
    background-color: var(--charcoal);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;

    position: fixed;
    width: 100%;
    top: 0;
}

div.top-bar div {
    display: inline-block;
    margin: 12px;

    align-items: center;
}

div.top-bar div a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;

    color: inherit;
}

div.top-bar div a:visited {
    color: inherit;
}

div.top-bar + div {
    padding-top: 64px;
}
