header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;

  background-color: var(--secondary);

  box-shadow: 0 0 5px #0f0;

  border-radius: 0 0 5px 5px;
}

#titlebar {
  width: 100vw;
  height: 48px;
}

#topbar {
  width: 100vw;
  height: auto;

  padding-top: 4px;
  padding-bottom: 4px;

  font-size: 0;
}

#topbar div {
  display: inline-block;

  width: 20vw;
  height: 40px;

  text-align: center;

  border-left: solid 2px #000;
}

#topbar div:first-child {
  border-left: none;
}

#topbar div:last-child {
  width: 19vw;
}

#topbar div a {
  display: inline-block;
  color: var(--primary);
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  font-size: 32px;
  padding: 0;

  color: #000;
}

#topbar div a:visited {
  color: #000;
}

#topbar div a:hover {
  text-shadow: 0 0 3px var(--primary-highlight);
}
